/*------------ [Google_Font] -----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*------------ [_Root] bde0feff-------FFC368----*/
:root {

    /* Colors */
    --white-color: #FFFFFF;
    --black-color: #00122e;
    --grey-color: #D9D9D9;
    --blue-color: #0074ea;


    /* FontStyle*/
    --fontOne: 'Poppins', sans-serif;
    --fontTwo: 'augustbold';
    

    /* Font Sizes */
    --font-twohun: 8rem;
    --font-thirtyTwo: 1.35rem;
    --font-twentyFour: 1.25rem;
    --font-eighteen: 1.125rem;
    --font-sixteen: .8725rem;
    --font-fourteen: .88rem;
    --font-twelve: .75rem;
}

@media screen and (min-width:900px) {
    :root {
        --font-twohun: 16rem;
        --font-thirtyTwo: 2rem;
        --font-twentyFour: 1.5rem;
        --font-eighteen: 1.25rem;
        --font-sixteen: 1rem;
        --font-fourteen: .88rem;
        --font-twelve: .75rem;
    }
}

/*========================================*/
/*------------ [_Reset_Styles] -----------*/
/*========================================*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'augustbold';
    src: url('../src/assets/august/august-bold-webfont.woff2') format('woff2'),
         url('../src/assets/august/august-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*========================================*/
/*--------------- [_Utility] -------------*/
/*========================================*/
body {
    max-width: 2560px;
    height: 100vh;
    background-color: var(--black-color);
    font-family: var(--fontOne);
    color: var(--white-color);
    letter-spacing: 1px;
}

p, h1, h2, h3,
h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2, h3,
h4, h5, h6 {
    color: var(--head-pri-color);
    font-family: var(--fontOne);
}

p {
    font-size: var(--font-fourteen);
    line-height: 1.5rem;
    color: var(--text-pri-color);
}

h1 {
    font-size: var(--font-twohun);
    /* line-height: 6rem; */
    font-weight: 500;
    letter-spacing: 1px;
}

h2 {
    font-size: var(--font-thirtyTwo);
    line-height: 2rem;
    font-weight: 700;
}

h3 {
    font-size: var(--font-eighteen);
    line-height: 2rem;
    font-weight: 600;
}

h4 {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: var(--font-twelve);
    font-weight: 600;
    line-height: 1.5rem;
}

h6 {
    font-size: 12px;
    line-height: 1.2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontOne);
}

ul li {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

/*--------------- [Body Wrapper] -------------*/
.bodyWrapper{
  display: grid;
  grid-template-columns: 100%;
  overflow: hidden;
  /* gap: 2rem; */
  /* max-width: 2560px; */
}

/*--------------- [_Header] -------------*/

.navHeader{
  background-color: transparent;
  display: flex;
  padding: 2rem 2rem 1rem;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.desktopDisplay{
    display: none;
}

.mobileMenu{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0px 5px 30px 0px rgb(37 37 37);
    -webkit-box-shadow: 0px 5px 30px 0px rgb(37 37 37);
    -moz-box-shadow: 0px 5px 30px 0px rgb(37 37 37);
    font-size: var(--font-eighteen);
    transform: translateX(0%);
    -webkit-transition: .5s;
    transition: .5s;
    justify-content: space-between;
    color: var(--white-color);
    background: var(--black-color);
}

.active{
    transform: translate3d(-70%, 0, 0);
	animation-timing-function: 1s ease-in;
}

.mobileLogo{
  width: 30px;
}

.navToggle{
    cursor: pointer;
}

.bar{
    width: 25px;
    height: 3px;
    margin: 4px;
    background: var(--white-color);
    transition: .4s;
}

.bTwo{
    width: 1rem;
    transform: translateX(8px);
}

.change .bar{
    display: block;
    background: var(--white-color);
    cursor: pointer;
}

.change .bOne{ 
    transform: translateY(5px) rotate(45deg);
}

.change .bTwo{
    opacity: 0;
}

.change .bThree{
    transform: translateY(-8.75px) rotate(-45deg);
}

.mobileDisplay .navItems{
    margin: 2rem 2rem 0;
}

.navList{
    padding: 2rem 0;
    font-weight: 500;
}

.navLink{
    text-transform: uppercase;
    color: var(--white-color);
}

.mobileDisplay .navLink:hover, .mobileDisplay .navLink:focus{
    color: var(--blue-color);
    transition: .3s ease-in-out;
    border-bottom: 2px solid var(--blue-color);
}

.navFooter{
    margin: 1rem 2rem 2rem;
}

.navSocialLinks{
    display: flex;
    font-size: var(--font-fourteen);
    justify-content: space-between;
}

.copyrightWhite p{
    font-size: var(--font-twelve);
    color: var(--white-color);
    margin-top: 2rem;
}

@media screen and (min-width: 500px) {
    .navSocialLinks{
        width: 55%;
    }
}

@media screen and (min-width: 900px){
  .mobileDisplay{
    display: none; 
  }

  .desktopDisplay{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 2rem 2rem;
    width: 100%;
  }

  .navItems{
      display: flex;
  }

  .navList{
      padding: 0 2rem;
  }

  .navLink{
      font-size: var(--font-twelve);
  }

  .desktopDisplay .navLink:hover, .desktopDisplay .navLink:active{
      color: var(--blue-color);
      transition: .3s ease-in-out;
      border-bottom: 2px solid var(--blue-color);
  }

  .navRight{
      font-weight: 500;
  }

}


@media screen and (min-width: 1023px) {
    h1{
        font-size: 15rem;
    }
}



